/* تأثير النص المتحرك */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 6s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* تأثيرات الحركة لكل كلمة */
.word {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
