@import "react-toastify/dist/ReactToastify.css";
@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  /* public\fonts\pilat-wide-font\PilatWide-Black.eot */
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pilat Wide";
  src: url("/fonts/PilatWide/PilatWide-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
